<div class="container margin-top">
    <div class="card card-style">
        <div class="card-header">
            <h2 class="text-center">Sign Up</h2>
        </div>
        <div class="card-body">
            <div class="form">
                <div class="form-group">
                    <div class="form-group">
                        <label for="role">Sign Up As :</label>
                        <select [(ngModel)]="role" id="role" class="form-control" name="">
                            <option value='customer'>Customer</option>
                            <option value='hotel'>Hotel</option>
                            <option value='restaurant'>Restaurant</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="role=='customer'">
                    <div class="form-group">
                        <label for="">First Name:</label>
                        <input [(ngModel)]="custFirstName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Last Name:</label>
                        <input [(ngModel)]="custLastName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address:</label>
                        <input [(ngModel)]="custAddress" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Mobile No:</label>
                        <input [(ngModel)]="custMobileNo" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email ID:</label>
                        <input [(ngModel)]="custEmail" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">city Pin : </label>
                        <input [(ngModel)]="cityPin" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Password : </label>
                        <input [(ngModel)]="custPassword" type="password" class="form-control">
                    </div>
                </div>
                <div *ngIf="role=='hotel'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Hotel Name:</label>
                                <input [(ngModel)]="hotelName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Hotel Admin Name:</label>
                                <input [(ngModel)]="hotelAdminName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Hotel Contact No:</label>
                                <input [(ngModel)]="hotelMobileNo" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Email:</label>
                                <input [(ngModel)]="hotelEmail" type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Address Area:</label>
                                <input [(ngModel)]="hotelAddressArea" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Address Street : </label>
                                <input [(ngModel)]="hotelAddressStreet" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Address Landmark : </label>
                                <input [(ngModel)]="hotelAddressLandmark" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">City Pin : </label>
                                <input [(ngModel)]="cityPinH" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">No of Rooms : </label>
                                <input [(ngModel)]="hotelNoOfRooms" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Password : </label>
                                <input [(ngModel)]="hotelPassword" type="password" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">hotel Description : </label>
                        <input [(ngModel)]="hotelDescription" type="text" class="form-control">
                    </div>
                </div>
                <div *ngIf="role=='restaurant'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Restaurant Name:</label>
                                <input [(ngModel)]="restName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Email:</label>
                                <input [(ngModel)]="restEmail" type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Password : </label>
                                <input [(ngModel)]="restPassword" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Open Time:</label>
                                <input [(ngModel)]="restOpenTime" type="time" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Area:</label>
                                <input [(ngModel)]="restAddressArea" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Street : </label>
                                <input [(ngModel)]="restAddressStreet" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Admin Name:</label>
                                <input [(ngModel)]="restAdminName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Mobile No:</label>
                                <input [(ngModel)]="restMobileNo" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">No of Tables:</label>
                                <input [(ngModel)]="restNoOfTables" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Close Time:</label>
                                <input [(ngModel)]="restCloseTime" type="time" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">City Pin:</label>
                                <input [(ngModel)]="cityPinR" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Landmark : </label>
                                <input [(ngModel)]="restAddressLandmark" type="text" class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="">Description:</label>
                        <input [(ngModel)]="restDescription" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button class="btn btn-success" (click)="signup()">SignUp</button>
                <button class="btn btn-warning float-right" routerLink='/auth/login'>Login</button>
            </div>
            <a routerLink="/dashboard">Back to dashboard</a>
        </div>
    </div>
</div>