.profile-pic {
    height: 15rem;
    width: 20rem;
    position: absolute;
    left: 0.5rem;
    bottom: 23rem;
    border-radius: 10px;
}


/* 
.profile-pic:hover {
    transform: scale(1.2);
} */

.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
    margin-top: 1rem;
}