<div class="card">
    <div class="card-header">
        <div class="btn-group float-right">
            <button (click)="onEditProfile()" class="btn btn-outline-success">Edit
                Profile</button>
            <button (click)="onEditMenu()" class="btn btn-outline-secondary">Edit
                Menu</button>
            <button (click)="onDelete()" class="btn btn-outline-danger">Delete
                Account</button>
        </div>
        <h2>Profile Details</h2>
    </div>
    <div class="card-body">
        <div class="box container">
            <div class="row">
                <div class="col-md-4">

                    <img class="profile-pic" routerLink="/restaurant/upload-image" *ngIf="otherDetails[0]['restPic']!=null " src="http://35.153.50.100:4000/restaurant/image/{{otherDetails[0]['restPic']}}" alt="">

                    <button *ngIf="otherDetails[0]['restPic']==null" class="btn btn-danger" (click)="uploadImage()">upload</button>

                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>

                            <tr>
                                <th class="header" style="width: 300px;"><strong>Name</strong></th>
                                <th style="width: 300px;">{{Details[0]['restName']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>AdminName</strong></th>
                                <th style="width: 300px;">{{Details[0]['restAdminName']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Contact</strong></th>
                                <th style="width: 300px;">{{Details[0]['restMobileNo']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Email</strong></th>
                                <th style="width: 300px;">{{Details[0]['restEmail']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Address area</strong></th>
                                <th style="width: 300px;">{{Details[0]['restAddressArea']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Address street</strong></th>
                                <th style="width: 300px;">{{Details[0]['restAddressStreet']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Address Landmark</strong></th>
                                <th style="width: 300px;">{{Details[0]['restAddressLandmark']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>cityPin</strong></th>
                                <th style="width: 300px;">{{Details[0]['cityPin']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Description</strong></th>
                                <th style="width: 300px;">{{Details[0]['restDescription']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Open Time</strong></th>
                                <th style="width: 300px;">{{Details[0]['restOpenTime']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>Close Time</strong></th>
                                <th style="width: 300px;">{{Details[0]['restCloseTime']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width: 300px;"><strong>No of Tables</strong></th>
                                <th style="width: 300px;">{{Details[0]['restNoOfTables']}}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/restaurant/restaurant-dashboard">Back to dashboard</a>
    </div>
</div>