<div class="modal-header">
    <h2>Restaurant Booking List</h2>
  
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>BookedRest</th>
                <th>RestBookingDate</th>
                <th>RestRating</th>
                <th>RestBookedOn</th>
                <th>BookingStatus</th>
                <th>NoOfTables</th>
                <th>cityPin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restbooking of restbookings;let index = index">
                <td>{{index + 1}}</td>               
                <td>{{restbooking['custFirstName']}}</td>
                <td>{{restbooking['custLastName']}}</td>
                <td>{{restbooking['custEmail']}}</td>
                <td>{{restbooking['custBookedRest']}}</td>
                <td>{{restbooking['custRestBookingDate']}}</td>
                <td>{{restbooking['custRestRating']}}</td>
                <td>{{restbooking['custRestBookedOn']}}</td>
                <td>{{restbooking['custBookingStatus']}}</td>
                <td>{{restbooking['custNoOfTables']}}</td>
                <td>{{restbooking['cityPin']}}</td>
            </tr>
        </tbody>
       
    </table>
</div>