<div class="container">
    <div class="card" style="margin-top: 20px; opacity: 0.9;">
        <div class="card-header">

            <button (click)="onEditProfile()" class="btn btn-success b1">Edit Profile</button>
            <button (click)="onEditService()" class="btn btn-secondary b1">Edit Service</button>
            <button (click)="onDelete()" class="btn btn-danger b1">Delete Account</button>
            <h2>Profile Details</h2>
        </div>
        <div class="card-body">
            <div class="box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-3" style="margin-top: 130px;margin-right: 50px;">

                            <img class="profile-pic" routerLink="/hotel/upload-image" *ngIf="otherDetails[0]['hotelPic']!=null " src="http://35.153.50.100:4000/hotel/image/{{otherDetails[0]['hotelPic']}}" alt="">

                            <button *ngIf="otherDetails[0]['hotelPic']==null" class="btn btn-danger" (click)="uploadImage()">upload</button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <table style="margin-top: 30px;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="header" style="width: 300px;">Name</th>
                                    <th style="width: 300px;">{{Details[0]['hotelName']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">AdminName</th>
                                    <th style="width: 300px;">{{Details[0]['hotelAdminName']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Contact</th>
                                    <th style="width: 300px;">{{Details[0]['hotelMobileNo']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Email</th>
                                    <th style="width: 300px;">{{Details[0]['hotelEmail']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Address area</th>
                                    <th style="width: 300px;">{{Details[0]['hotelAddressArea']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Address street</th>
                                    <th style="width: 300px;">{{Details[0]['hotelAddressStreet']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Address Landmark</th>
                                    <th style="width: 300px;">{{Details[0]['hotelAddressLandmark']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">cityPin</th>
                                    <th style="width: 300px;">{{Details[0]['cityPin']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">Description</th>
                                    <th style="width: 300px;">{{Details[0]['hotelDescription']}}</th>
                                </tr>
                                <tr>
                                    <th class="header" style="width: 300px;">No of Rooms</th>
                                    <th style="width: 300px;">{{Details[0]['hotelNoOfRooms']}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-warning btn-sm" routerLink="/hotel/hotel-dashboard">Back to dashboard</a>
        </div>
    </div>
</div>