.image {
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.b1 {
    margin-left: 10px;
    float: right;
}

.profile-pic {
    height: 15rem;
    width: 20rem;
    position: absolute;
    left: 0.5rem;
    bottom: -9rem;
    border-radius: 10px;
}

.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
}