<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class=" card-header ">
                <h2>Booking Information</h2>
            </div>

            <div class=" card-body ">
                <table class="table table-borderd ">
                    <thead>
                        <tr>
                            <th><strong>Restaurant Name</strong></th>
                            <th>{{name}}</th>
                        </tr>
                        <tr>
                            <th><strong>Booking Date</strong></th>
                            <th>{{date}}</th>
                        </tr>
                        <tr>
                            <th><strong>Booking Status</strong></th>
                            <th>{{status}}</th>
                        </tr>
                        <tr>
                            <th><strong>No Of Table</strong></th>
                            <th>{{noOfTables}}</th>
                        </tr>

                    </thead>
                </table>
            </div>

            <div class="card-footer ">
                <button (click)="giveRating()" class="btn btn-success ">Rate
                    us</button>
                <a routerLink="/dashboard" class="btn btn-danger">Skip</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>