<div class="card">
    <div class="card-header">
        <h4>{{guest ? 'Update' : 'Add'}} Guest</h4>
    </div>

    <div class="card-body">
        <div class="form">
            <div class="row">


                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input [(ngModel)]="name" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Age</label>
                        <input [(ngModel)]="age" type="number" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <input [(ngModel)]="gender" type="text" class="form-control">
                    </div>
                </div>


            </div>

            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">{{guest ? 'Update' : 'Add'}}</button>
                <a routerLink="/customer/guests" class="btn btn-danger">Cancel</a>
            </div>

        </div>
    </div>

</div>