<div class="container-fluid background">
    <ul class="nav restnav">
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/hotel/profile">Profile</a>
        </li>
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/hotel/room-mgmt">Room Management</a>
        </li>
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/hotel/booking-mgmt">Booking Management</a>
        </li>
    </ul>
</div>