<div class="card">
    <div class="card-header">
        <button (click)="AddService()" class="btn btn-primary float-right">Add Service</button>
        <h2>List of Hotel Services</h2>
    </div>
    <div class="card-body card-style">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>hotel Service Name</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of services; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{service['hotelServiceName']}}</td>
                    <td>{{service['hotelServiceAvailable']}}</td>
                    <td>
                        <button (click)="toggleActive(service)" [class.btn-success]="service['hotelServiceAvailable'] 
                        != 1" [class.btn-danger]="service['hotelServiceAvailable'] == 1"
                            class="btn btn-sm">{{service['hotelServiceAvailable'] == 1 ? 'Suspend' :
                            'Activate'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning btn-sm" routerLink="/hotel/profile">Back to Profile</a>
    </div>
</div>