<div class="card">
    <div class="card-header">
        <h2 class="float-left">List of Food Items</h2>
        <button (click)="AddItem()" class="btn btn-success float-right">Add Item</button>
    </div>
    <div class="card-body card-style">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>ItemName</th>
                    <th>ItemPrice</th>
                    <th>ItemStatus</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{item['foodItemName']}}</td>
                    <td>{{item['foodItemPrice']}}</td>
                    <td>{{item['foodItemAvailable']}}</td>

                    <td>


                        <button (click)="toggleActive(item)" [class.btn-success]="item['foodItemAvailable'] != 1"
                            [class.btn-danger]="item['foodItemAvailable'] == 1" class="btn btn-sm">
                            {{item['foodItemAvailable'] == 1?'Suspend' :'Activate'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/restaurant/profile">Back to Profile</a>
    </div>
</div>