<div class="card">
    <div class="card-header">
        <h2> Other Info</h2>
    </div>

    <div class="card-body">
        <div class="form">
            <div class="row">


                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Marital Status</label>
                        <input [(ngModel)]="status" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Age</label>
                        <input [(ngModel)]="age" type="number" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Birth date</label>
                        <input [(ngModel)]="date" type="date" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <input [(ngModel)]="gender" type="text" class="form-control">
                    </div>
                </div>


            </div>

            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">Add</button>
                <a routerLink="/customer/profile" class="btn btn-danger">Cancel</a>
            </div>

        </div>
    </div>

</div>