/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #D1E8E2; */
    /* height: 61rem; */
    background-color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}