<div class="modal-header">
    <h2>Restaurant List</h2>
    
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>restName</th>
                <th>Admin Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Address Area</th>
                <th>Address Street</th>
                <th>Address Landmark</th>
                <th>Pin Code</th>
                <th>Description</th>
                <th>Open Time</th>
                <th>CloseTime</th>
                <th>NoOfTables</th>
                <th>LoggedInStatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants; let index = index">
                <td>{{index + 1}}</td>               
                <td>{{restaurant['restName']}}</td>
                <td>{{restaurant['restAdminName']}}</td>
                <td>{{restaurant['restMobileNo']}}</td>
                <td>{{restaurant['restEmail']}}</td>
                <td>{{restaurant['restAddressArea']}}</td>
                <td>{{restaurant['restAddressStreet']}}</td>
                <td>{{restaurant['restAddressLandmark']}}</td>
                <td>{{restaurant['cityPin']}}</td>
                <td>{{restaurant['restDescription']}}</td>
                <td>{{restaurant['restOpenTime']}}</td>
                <td>{{restaurant['restCloseTime']}}</td>
                <td>{{restaurant['restNoOfTables']}}</td>
                <td>{{restaurant['restLoggedInStatus']}}</td>
            </tr>
        </tbody>
       
    </table>
</div>