<div class="modal-header">
    <h2>Hotel List</h2>

</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Hotel Name</th>
                <th>Admin Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Address Area</th>
                <th>Address Street</th>
                <th>Address Landmark</th>
                <th>Pin Code</th>
                <th>Description</th>
                <th>NoOfRooms</th>
                <th>LoggedInStatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotels; let index = index">
                <td>{{index + 1}}</td>               
                <td>{{hotel['hotelName']}}</td>
                <td>{{hotel['hotelAdminName']}}</td>
                <td>{{hotel['hotelMobileNo']}}</td>
                <td>{{hotel['hotelEmail']}}</td>
                <td>{{hotel['hotelAddressArea']}}</td>
                <td>{{hotel['hotelAddressStreet']}}</td>
                <td>{{hotel['hotelAddressLandmark']}}</td>
                <td>{{hotel['cityPin']}}</td>
                <td>{{hotel['hotelDescription']}}</td>
                <td>{{hotel['hotelNoOfRooms']}}</td>
                <td>{{hotel['hotelLoggedInStatus']}}</td>
            </tr>
        </tbody>
       
    </table>
</div>