<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Upload Image</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="">Select Image</label>
                    <input (change)="onImageSelect($event)" type="file" class="form-control">
                </div>
            </div>

            <div class="card-footer">
                <button (click)="onUploadImage()" class="btn btn-success">Upload</button>
                <a routerLink="/restaurant/profile" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </div>
    <div class="col-md-3"></div>
</div>