<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card" style="margin-top: 20px;">
            <div class="card-header">
                <h4>{{room ? 'Update' : 'Add'}} Room</h4>
            </div>

            <div class="card-body">
                <div class="form">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Hotel Room Price</label>
                                <input [(ngModel)]="price" type="number" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Hotel Room Category</label>
                                <input [(ngModel)]="category" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Hotel Room Accomodation</label>
                                <input [(ngModel)]="accomodation" type="number" class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <button (click)="onUpdate()" class="btn btn-success">{{room ? 'Update' : 'Add'}}</button>
                        <a style="margin-left: 10px;" routerLink="/hotel/room-mgmt" class="btn btn-danger">Cancel</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3"></div>
</div>