<div class="card">
    <div class="card-header">
        <button class="btn btn-success  float-right" routerLink="/customer/upload-profile-image">Change Profile
            Image</button>
        <h2>Edit Profile</h2>
    </div>

    <div class="card-body">
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <div class="form">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input [(ngModel)]="FirstName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input [(ngModel)]="LastName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Mobile No</label>
                            <input [(ngModel)]="Contact" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input [(ngModel)]="Address" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input [(ngModel)]="Email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">CityPin</label>
                            <input [(ngModel)]="pin" type="number" class="form-control">
                        </div>

                        <div class="form-group">
                            <button (click)="onUpadte()" class="btn btn-success">Update</button>
                            <a routerLink="/customer/profile" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>