<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <button (click)="deleteAllRoom()" class="btn btn-info float-right">Delete All
                Room</button>
            <button (click)=" addRoom() " class=" btn btn-success float-right ">Add Room</button>
            <h2>Room List</h2>
        </div>

        <div class="card-body card-style">
            <table class=" table table-striped table-bordered ">
                <thead>
                    <tr>
                        <th class="col-size-No">No</th>
                        <th>Category</th>
                        <th class="col-size">Accomodation</th>
                        <th class="col-size">Price</th>
                        <th class="col-size">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let room of rooms; let index=index ">
                        <td>{{index + 1}}</td>
                        <td>{{room['hotelRoomCategory']}}</td>
                        <td>{{room['hotelRoomAccomodation']}}</td>
                        <td>{{room['hotelRoomPrice']}}</td>
                        <td>
                            <button (click)=" onEdit(room)" class=" btn btn-outline-primary btn-sm">Edit</button>
                            <button (click)=" onDelete(room)" class=" btn btn-outline-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-warning" routerLink="/hotel/hotel-dashboard">Back to dashboard</a>
        </div>

    </div>
</div>