.profile-pic {
    height: 18rem;
    width: 13.5rem;
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    border-radius: 10px;
}

.bt {
    color: black;
}

.btn-itm {
    float: right;
}

.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
    margin-top: 1rem;
}