<div class="card">
    <div class="card-header">
        <div class="float-right">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light p-4">
                    <div class="btn-group">
                        <button (click)="guestInfo()" class="btn btn-outline-warning  btn-itm">Guests
                            Details</button>
                        <button (click)="updateOtherInfo()" class="btn btn-outline-secondary btn-itm">Other
                            Details</button>

                        <button (click)="getallBookings()" class="btn btn-outline-info  btn-itm">Booking
                            history</button>

                        <button (click)="changePassword()" class="btn btn-outline-success  btn-itm">Change
                            Password</button>

                        <button (click)="onEdit()" class="btn btn-outline-secondary  btn-itm">Edit Profile</button>

                        <button (click)="deleteAccount()" class="btn btn-outline-danger  btn-itm">Delete
                            Account</button>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light float-right">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>


        <h2>Profile Details</h2>
    </div>
    <div class="card-body">
        <div class="box">
            <div class="row">
                <div class="col-md-4">
                    <img class="profile-pic" routerLink="/customer/upload-profile-image" *ngIf="otherDetails[0]['custProfileImage']!=null " src="http://35.153.50.100:3000/customer/image/{{otherDetails[0]['custProfileImage']}}" alt="">

                    <button *ngIf="otherDetails[0]['custProfileImage']==null" class="btn btn-danger" (click)="uploadImage()">upload</button>
                </div>
                <div class="col-md-8">
                    <table style="margin-top: 30px;" class="table table-borderd">
                        <thead>
                            <tr>
                                <th class="header" style="width:300px"><strong>First Name</strong></th>
                                <th style="width:300px">{{Details[0]['custFirstName']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Last Name</strong></th>
                                <th style="width:300px">{{Details[0]['custLastName']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Contact</strong></th>
                                <th style="width:300px">{{Details[0]['custMobileNo']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Address</strong></th>
                                <th style="width:300px">{{Details[0]['custAddress']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>PinCode</strong></th>
                                <th style="width:300px">{{Details[0]['cityPin']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Email</strong></th>
                                <th style="width:300px">{{Details[0]['custEmail']}}</th>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a routerLink="/dashboard" class="btn btn-warning">Back to Dashboard</a>
    </div>
</div>