<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header">
                <h2>Booking Information</h2>
            </div>

            <div class="card-body">
                <table class="table table-borderd">
                    <thead>
                        <tr>
                            <th class="header" style="width:300px"><strong>Hotel Name</strong></th>
                            <th style="width:300px">{{Detail[0]['custBookedHotel']}}</th>
                        </tr>
                        <tr>
                            <th class="header" style="width:300px"><strong>Booking Date</strong></th>
                            <th style="width:300px">{{Detail[0]['custHotelBookedOn']}}</th>
                        </tr>
                        <tr>
                            <th class="header" style="width:300px"><strong>Booking Status</strong></th>
                            <th style="width:300px">{{Detail[0]['custBookingStatus']}}</th>
                        </tr>
                        <tr>
                            <th class="header" style="width:300px"><strong>No Of Room</strong></th>
                            <th style="width:300px">{{Detail[0]['custNoOfRooms']}}</th>
                        </tr>
                        <tr>
                            <th class="header" style="width:300px"><strong>No Of Guests</strong></th>
                            <th style="width:300px">{{Detail[0]['custNoOfGuests']}}</th>
                        </tr>
                    </thead>
                </table>

            </div>

            <div class="card-footer">
                <button (click)="giveRating()" class="btn btn-success">Rate us</button>
                <a routerLink="/dashboard" class="btn btn-danger">Skip</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>