<div class="card">
    <div class="card-header">
        <button (click)="deleteAllGuest()" class="btn btn-info btn-sm float-right">Delete
            All
            Guest</button>
        <button (click)="addGuest()" class="btn btn-success btn-sm float-right">Add Guest</button>
        <h4>Guest List</h4>
    </div>
    <div class="card-body card-style">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let guest of guests; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{guest['custGuestName']}}</td>
                    <td>{{guest['custGuestAge']}}</td>
                    <td>{{guest['custGuestGender']}}</td>
                    <td>
                        <button (click)="onEdit(guest)" class="btn btn-warning btn-sm">Edit</button>
                        <button (click)="onDelete(guest)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/customer/profile">Back to profile</a>
    </div>
</div>