.card-style {
    overflow: hidden;
    overflow-y: scroll;
    height: 40rem;
}

.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
    margin-top: 1rem;
}

.btn {
    margin-right: 1rem
}

.card-body {
    text-align: center;
}