<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Change Password</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 quote"></div>
                    <div class="col-md-8">
                        <div class="box">
                            <div class="form">
                                <div class="form-group">
                                    <label for="">Old Password</label>
                                    <input placeholder="***********" [(ngModel)]="oldPassword" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <input placeholder="***********" [(ngModel)]="newPassword" type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <button (click)="changePassword()" class="btn btn-success">Update</button>
                                    <a routerLink="/hotel/profile" class="btn btn-danger ">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>