.nav-link {
    display: block;
    width: 13rem;
    padding: 1.5rem 3rem;
    text-align: center;
    margin-left: 1rem;
    border: 2px solid beige;
}

.nav {
    margin-top: 2rem;
    padding-left: 17px;
    margin-left: 18rem;
}

.nav-tabs {
    border-bottom: 0px;
}

#nav-tabContent {
    opacity: 0.9;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    padding: 1rem 1rem 0rem 1rem;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tab-pane {
    padding: 2rem;
    border-radius: 10px;
}

.cardOverflow .card-style {
    margin-top: 1rem;
    opacity: 0.8;
}

.cardOverflow {
    margin-top: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    height: 35rem;
    /* overflow-style: none; */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.cardOverflow::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.cardOverflow {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.backgd {
    background-size: cover;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    top: 4.2rem;
    overflow: auto;
}

.fontStyle {
    font-size: large;
    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.labelstyle {
    font-size: smaller;
    width: 2rem;
    display: table;
}

.labelinputstyle {
    height: 2.5rem;
}

.search {
    padding-top: 0rem;
    padding-left: 23rem;
}

.searchbtn {
    width: 13rem;
    height: 4rem;
    font-size: x-large;
    border-radius: 3rem;
}

.BGoverflow {
    overflow-y: scroll;
}

.wrapper {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.bg1 {
    background-image: url("../../assets/UI_Images/pexels-asad-photo-maldives-1450340.jpg");
}

.fixed-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}

.info {
    float: right;
}

.card-body {
    font-size: 1.4rem;
    border-radius: 1rem;
}