<div class="backgd bg1">

    <div class="container">
        <div class="search-bar">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-hotel" role="tab" aria-controls="nav-home" aria-selected="true" (click)="search('hotel')"><span
                            class="fontStyle">Hotel</span></a>

                    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="search('rest')"><span
                            class="fontStyle">Restaurant</span></a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-hotel" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div style="display: flex;">
                        <div class="md-form active-cyan active-cyan-2 mb-3 col-md-6">
                            <input *ngIf="role!='price'" class="form-control" (keyup)="onValueChange($event)" type=" text" placeholder="Search" aria-label="Search">
                            <div class="col-md-4" style="display: flex;" *ngIf="role=='price'">
                                <label class="labelstyle">Min Price</label> <input class="labelinputstyle" type="number" [(ngModel)]="startRange">
                                <label style="margin-left: 10px;" class="labelstyle">Max Price</label> <input class="labelinputstyle" type="number" [(ngModel)]="endRange">
                                <p *ngIf="startRange > endRange"> Max price cannot be less than Min price</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select [(ngModel)]="role" id="role" class="form-control" name="">
                                <option value="city">City</option>
                                <option value="price">Price</option>
                                <option value="nameH">Hotel Name </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12  search">
                        <button (click)="SearchByHotel()" type="button" class="btn btn-primary btn-lg searchbtn">Search</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div style="display: flex;">
                        <div class="md-form active-cyan active-cyan-2 mb-3 col-md-6">
                            <input class="form-control" (keyup)="onValueChange($event)" type=" text" placeholder="Search" aria-label="Search">

                        </div>
                        <div class="col-md-6">
                            <select [(ngModel)]="role1" id="role1" class="form-control" name="">
                                <option value="city">City</option>
                                <option value="foodItem">Food Item</option>
                                <option value="nameR">Restaurant Name </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 search">
                        <button (click)="SearchByRest()" type="button" class="btn btn-primary btn-lg searchbtn">Search</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="cardOverflow">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div *ngIf="(successResponse!=false)">

                        <div class="card card-style" *ngFor="let item of data">
                            <div *ngIf="activeTab=='hotel'" class="card-body btn-outline-secondary" type="button" (click)="onHotelSelect(item)">
                                <h2>{{item.hotelName}}</h2>
                                {{item.hotelAddressArea}}, {{item.hotelAddressStreet}}, {{item.hotelAddressLandmark}}, {{item.city}}, {{item.cityPin}}
                            </div>
                            <div *ngIf="activeTab=='rest'" class="card-body btn-outline-secondary" type="button" (click)="onRestSelect(item)">

                                <h2> {{item.restName}} </h2>
                                <h5>Time: {{item.restOpenTime}} - {{item.restCloseTime}}</h5>
                                {{item.restAddressArea}}, {{item.restAddressStreet}}, {{item.restAddressLandmark}}, {{item.city}}, {{item.cityPin}}

                                <!-- <button type="button" (click)="onRestSelect(item)" class="btn btn-outline-info info">go
                                    to
                                    restaurant</button> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
</div>