<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Add Food Item</h2>
            </div>

            <div class="card-body">
                <div class="form">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Food Item Name</label>
                                <input [(ngModel)]="itemName" type="test" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Food Item Price</label>
                                <input [(ngModel)]="itemPrice" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onAddItem()" class="btn btn-success">Add</button>
                <a style="margin-left: 10px;" routerLink="/restaurant/edit-menu" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>