.restnavitem {
    margin: 15px;
}

.restnav {
    margin-top: 5rem;
}

.background {
    /* Set rules to fill background */
    min-height: 100%;
    /* min-width: 1024px; */
    background-image: url('../../../assets/UI_Images/pexels-chan-walrus-941861.jpg');
    /* width: 100%; */
    height: fit-content;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
}

.btn {
    border-radius: 1rem;
    height: 3rem;
    font-size: 1.5rem;
}