<div class="container-fluid background">
    <ul class="nav restnav">
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/restaurant/profile">Profile</a>
        </li>
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/restaurant/view-table">Table</a>
        </li>
        <li class="nav-item restnavitem">
            <a class="nav-link btn btn-outline-light" routerLink="/restaurant/booking-mgmt">Bookings</a>
        </li>
    </ul>
</div>