<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <button (click)="addTables()" class="btn btn-success float-right">{{tablecheck==1 ? 'Update' : 'Add'}}
                    Tables</button>
                <h2>Table Details</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>No Of Tables</th>
                            <th>No Of Reserved Tables</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tab of tables; let index = index">
                            <td>{{index + 1}}</td>
                            <td>{{tab['restTotalNoOfTables']}}</td>
                            <td>{{tab['restNoOfTableReserved']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-warning" routerLink="/restaurant/restaurant-dashboard">Back to dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>