<div class="modal-header">
    <h2>Customer List</h2>

</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Pin Code</th>
                <th>Logged In Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers; let index = index">
                <td>{{index + 1}}</td>
                <td>{{customer['custFirstName']}}</td>
                <td>{{customer['custLastName']}}</td>
                <td>{{customer['custAddress']}}</td>
                <td>{{customer['custMobileNo']}}</td>
                <td>{{customer['custEmail']}}</td>
                <td>{{customer['cityPin']}}</td>
                <td>{{customer['custLoggedInStatus']}}</td>
            </tr>
        </tbody>

    </table>
</div>