<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <div class="form">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="role">Login As :</label>
                                <select [(ngModel)]="role" id="role" class="form-control" name="">
                                    <option value='customer'>Customer</option>
                                    <option value='hotel'>Hotel</option>
                                    <option value='restaurant'>Restaurant</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Email ID:</label>
                            <input required [(ngModel)]="email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Password : </label>
                            <input required [(ngModel)]="password" type="password" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <button class="btn btn-success" (click)="login()">Login</button>
                        <a class="btn btn-outline-secondary float-right" routerLink="/dashboard">Back to
                            dashboard</a>
                        <button class="btn btn-warning" routerLink='/auth/signup'>Sign Up</button>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>