td {
    text-align: center;
}

.card-style {
    overflow: hidden;
    overflow-y: scroll;
    height: 40rem;
}

.card-header {
    text-align: center;
}

.card {
    margin-top: 1rem;
    border: white 0.25rem solid;
    border-radius: 1rem;
}


/* .modalSize2 {
    width: 20rem;
}

.modalSize1 {
    width: 10rem;
} */