<div class="modal-header">
    <h2>Hotel Booking List</h2>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>BookedHotel</th>
                <th>CheckInDate</th>
                <th>CheckOutDate</th>
                <th>NoOfGuests</th>
                <th>BookingStatus</th>
                <th>HotelRating</th>
                <th>NoOfRooms</th>
                <th>cityPin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotelbooking of hotelbookings; let index = index">
                <td>{{index + 1}}</td>               
                <td>{{hotelbooking['custFirstName']}}</td>
                <td>{{hotelbooking['custLastName']}}</td>
                <td>{{hotelbooking['custEmail']}}</td>
                <td>{{hotelbooking['custBookedHotel']}}</td>
                <td>{{hotelbooking['custCheckInDate']}}</td>
                <td>{{hotelbooking['custCheckOutDate']}}</td>
                <td>{{hotelbooking['custNoOfGuests']}}</td>
                <td>{{hotelbooking['custBookingStatus']}}</td>
                <td>{{hotelbooking['custHotelRating']}}</td>
                <td>{{hotelbooking['custNoOfRooms']}}</td>
                <td>{{hotelbooking['cityPin']}}</td>
            </tr>
        </tbody>
       
    </table>
</div>