<div class="card">
    <div class="card-header">
        <button (click)="changePassword()" class="btn btn-sm btn-secondary float-right">Change
            Password</button>
        <button routerLink="/restaurant/upload-image" class="btn btn-sm btn-secondary float-right">Change
            Image</button>
        <h2>Edit Profile</h2>
    </div>
    <div class="card-body">
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input [(ngModel)]="Name" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="Email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Open Time</label>
                        <input [(ngModel)]="OpenTime" type="time" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address area</label>
                        <input [(ngModel)]="AddressArea" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address Street</label>
                        <input [(ngModel)]="AddressStreet" type="text" class="form-control">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">AdminName</label>
                        <input [(ngModel)]="AdminName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Contact</label>
                        <input [(ngModel)]="Contact" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Close Time</label>
                        <input [(ngModel)]="CloseTime" type="time" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">cityPin</label>
                        <input [(ngModel)]="cityPin" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address Landmark</label>
                        <input [(ngModel)]="AddressLandmark" type="text" class="form-control">
                    </div>
                    <!-- <div class="form-group">
                        <label for="">No of Tables</label>
                        <input [(ngModel)]="NoOfTables" type="number" class="form-control">
                    </div> -->
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Description</label>
                        <input [(ngModel)]="Description" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onUpdate()" class="btn btn-success">Update</button>
        <a routerLink="/restaurant/profile" class="btn btn-danger">Cancel</a>
    </div>
</div>