<div class="card">
    <div class="card-header">
        <h2>All Bookings List</h2>
    </div>

    <div class=" card-body card-style">
        <table class=" table table-hover table-bordered ">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Booking Date</th>
                    <th>Booked On</th>
                    <th>Rating</th>
                    <th>Status</th>
                    <th>NoOfTables</th>
                    <th>cityPin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let booking of bookings; let index=index ">

                    <td>{{booking['restBookingId']}}</td>
                    <td>{{booking['custRestBookingDate']}}</td>
                    <td>{{booking['custRestBookedOn']}}</td>
                    <td>{{booking['custRestRating']}}</td>
                    <td>{{booking['custBookingStatus']}}</td>
                    <td>{{booking['custNoOfTables']}}</td>
                    <td>{{booking['cityPin']}}</td>

                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <!-- <button type="button" class="btn btn-primary">Left</button> -->
                            <button (click)="onViewGuest(booking)" type="button" class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal" data-bs-target="#GuestDetails">Guest Details</button>
                            <button (click)="onViewCustomer(booking)" type="button"
                                class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#CustomerDetails">Customer Details</button>
                        </div>

                        <!-- Guest Modal -->
                        <div class="modal fade" id="GuestDetails" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Guest List</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Gender</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let guest of guests;let index = index ">
                                                    <td>{{index +1}}</td>
                                                    <td>{{guest['custRestGuestsName']}}</td>
                                                    <td>{{guest['custRestGuestsAge']}}</td>
                                                    <td>{{guest['custRestGuestsGender']}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Customer Modal -->
                        <div class="modal fade" id="CustomerDetails" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul style="text-align: left;" class="list-group">
                                                    <li class="list-group-item"><strong> FirstName </strong></li>
                                                    <li class="list-group-item"><strong> LastName </strong></li>
                                                    <li class="list-group-item"><strong> Email </strong></li>
                                                    <li class="list-group-item"><strong> MobileNo </strong></li>
                                                    <li class="list-group-item"><strong> Address </strong></li>
                                                    <li class="list-group-item"><strong> CityPin </strong></li>
                                                </ul>
                                            </div>
                                            <div style="margin-left: -30px; text-align:left" class="col-md-8">
                                                <ul *ngFor="let customer of customers" class="list-group">
                                                    <li class="list-group-item custLi">{{customer['custFirstName']}}
                                                    </li>
                                                    <li class="list-group-item custLi">{{customer['custLastName']}}</li>
                                                    <li class="list-group-item custLi">{{customer['custEmail']}}</li>
                                                    <li class="list-group-item custLi">{{customer['custMobileNo']}}</li>
                                                    <li class="list-group-item custLi">{{customer['custAddress']}}</li>
                                                    <li class="list-group-item custLi">{{customer['cityPin']}}</li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/restaurant/restaurant-dashboard">Back to dashboard</a>
    </div>

</div>