.custLi {
    width: 250px;
}

.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
    margin-top: 1rem;
}

.card-style {
    overflow: hidden;
    overflow-y: scroll;
    height: 42rem;
}