.card {
    border: white 0.25rem solid;
    border-radius: 1rem;
    margin-top: 1rem;
}

.btn {
    margin-right: 1rem;
}

.quote {
    padding-left: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../../../assets/UI_Images/google-account-security.png');
}