.navbar {
    font-size: 25px;
}

.nav-item {
    margin-left: 10px;
    float: right;
}

#navbarNav {
    position: absolute;
    right: 4rem;
}

.bg {
    background-color: #e6eeee;
    /* background-color: rgb(214, 218, 214); */
}

.navbar-brand {
    font-size: larger;
    color: rgb(71, 71, 71);
}

.btn {
    margin-right: 1rem
}