<nav class="navbar navbar-expand-lg navbar-light bg">
    <a class="navbar-brand" href="#">TakeRestEatBest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav float-right">

            <li *ngIf="loginCheck==0" class="nav-item float-right">
                <a class="btn btn-success" routerLink="/auth/login">Login</a>
            </li>
            <li *ngIf="loginCheck==1" class="nav-item float-right">
                <button class="btn btn-success" (click)="Logout()">Logout</button>
            </li>
            <li class="float-right" *ngIf="active==1">
                <button routerLink="/customer/profile" class="btn btn-primary">Profile</button>
            </li>

        </ul>
    </div>
</nav>