<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Hotel</a>
        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Restaurant</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card">
            <div class="card-header">
                <h4>Booking History</h4>
            </div>
            <div class="card-body card-style">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Hotel Name</th>
                            <th>Booking Date</th>
                            <th>Booking Status</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>No Of Rooms</th>
                            <th>No Of Guests</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of bookingsHotel; let index = index">
                            <td>{{index+1}}</td>
                            <td>{{book['custBookedHotel']}}</td>
                            <td>{{book['custHotelBookedOn']}}</td>
                            <td>{{book['custBookingStatus']}}</td>
                            <td>{{book['custCheckInDate']}}</td>
                            <td>{{book['custCheckOutDate']}}</td>
                            <td>{{book['custNoOfRooms']}}</td>
                            <td>{{book['custNoOfGuests']}}</td>
                            <td>
                                <button (click)="cancelHotelBooking(book)" class="btn btn-outline-danger btn-sm">Cancel
                                    Booking</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-warning btn-sm" routerLink="/customer/profile">Back to Profile</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card">
            <div class="card-header">
                <h4>Booking History</h4>
            </div>
            <div class="card-body card-style">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Restaurant Name</th>
                            <th>Booking Date</th>
                            <th>Booking Status</th>
                            <th>No Of Tables</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of bookingsarray; let index = index">
                            <td>{{index+1}}</td>
                            <td>{{book['custBookedRest']}}</td>
                            <td>{{book['custRestBookingDate']}}</td>
                            <td>{{book['custBookingStatus']}}</td>
                            <td>{{book['custNoOfTables']}}</td>
                            <td>
                                <button (click)="cancelBooking(book)" class="btn btn-outline-danger btn-sm">Cancel
                                    Booking</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-warning btn-sm" routerLink="/customer/profile">Back to Profile</button>
            </div>
        </div>
    </div>

</div>