<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Rating</h2>
            </div>

            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        <label for="">Enter Rating</label>
                        <input [(ngModel)]="rating" type="number" class="form-control">
                    </div>

                    <div class="form-group">
                        <button (click)="updateRating()" class="btn btn-success">Rate
                            Us</button>
                        <a routerLink="/dashboard" class="btn btn-danger ">Cancel</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>