.rest-pic {
    height: 25vp;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.btn {
    margin-left: 20px;
}

.card {
    position: absolute;
    top: 5rem;
    width: 35rem;
    opacity: 0.9;
    border: honeydew 0.5rem solid;
    border-radius: 1rem;
}

.card-rest-details {
    left: 2rem;
}

.card-style {
    overflow: hidden;
    overflow-y: scroll;
    height: 20rem;
}

.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    background-image: url('../../../assets/UI_Images/foodbackgd.jpg');
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
}


/* .backgd{
    background-image: url("../../../assets/UI_Images/pexels-asad-photo-maldives-1450360.jpg");
    background-size: cover;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    top: 3.5rem;
} */