<div class="container-fluid background">

    <div class="row">
        <div class="col-md-4">
            <div class="card card-rest-details">
                <div class="card-header">
                    <strong>
                        <h2 class="header1">{{Details[0]['restName']}}</h2>
                    </strong>
                </div>
                <div class="card-body">
                    <table class="table table-borderd ">
                        <thead>
                            <tr>
                                <th class="header"><strong>Email</strong></th>
                                <th style="width:300px">{{Details[0]['restEmail']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Contact NO</strong></th>
                                <th style="width:300px">{{Details[0]['restMobileNo']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Address Area</strong></th>
                                <th style="width:300px">{{Details[0]['restAddressArea']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Address street</strong></th>
                                <th style="width:300px">{{Details[0]['restAddressStreet']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Address landmark</strong></th>
                                <th style="width:300px">{{Details[0]['restAddressLandmark']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Description</strong></th>
                                <th style="width:300px">{{Details[0]['restDescription']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Open Time</strong></th>
                                <th style="width:300px">{{Details[0]['restOpenTime']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Close Time</strong></th>
                                <th style="width:300px">{{Details[0]['restCloseTime']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Available Tables</strong></th>
                                <th style="width:300px">{{Details[0]['restNoOfTables']}}</th>
                            </tr>

                        </thead>
                    </table>

                </div>
                <div class="card-footer">
                    <button (click)="BookTable()" class="btn btn-success">Book Now</button>
                    <button (click)="showmenu()" class="btn btn-info">Show menu</button>
                    <button (click)="goBackToPreviousPage()" class="btn btn-warning">Go back
                        to Dashboard</button>
                </div>
            </div>
        </div>

        <div *ngIf="action==1" class="col-md-4 ">
            <div *ngIf="action==1" class="card">
                <div class="card-header">
                    <h3>Booking Details</h3>
                </div>

                <div class="card-body card-style">
                    <div class="form">
                        <div class="form-group">
                            <label for="">Enter city pin</label>
                            <input [(ngModel)]="cityPin" type="number" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Enter No Of Tables</label>
                            <input [(ngModel)]="NoOfTables" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Enter Booking Date</label>
                            <input [(ngModel)]="dateBook" type="date" (change)="loadOninit()" class="form-control">
                        </div>

                        <div class="form-group" *ngIf="guestCounter==1">
                            <label for="">Guest List</label>
                            <div *ngFor="let guest of guestArray">
                                <input type="checkbox" name="guestName" id="" value="guest.custGuestId" (change)="toggleEditable($event,guest)"> {{guest['custGuestName']}}
                            </div>
                        </div>
                        <div class="form-group" *ngIf="guestCounter==0">
                            <button (click)="goToGuests()" class="btn btn-success">Add Guests</button>
                        </div>

                    </div>


                </div>
                <div class="card-footer">
                    <button (click)="addBookings()" class="btn btn-success">Add Bookings</button>
                </div>
            </div>

        </div>

        <div *ngIf="action==2" class="col-md-4">
            <div *ngIf="action==2" class="card">
                <div class="card-header">
                    <h3>Menu List</h3>
                </div>

                <div class="card-body card-style">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Food Item Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let menu of menuDetails; let index = index">
                                <td>{{index + 1}}</td>
                                <td>{{menu['foodItemName']}}</td>
                                <td>{{menu['foodItemPrice']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-light"></button>
                </div>
            </div>
        </div>
    </div>


</div>