<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card" style="margin-top: 20px;">
            <div class="card-header">
                <h4>Add Service</h4>
            </div>
            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        <label for="">Service Name</label>
                        <input [(ngModel)]="hotelServiceName" type="test" class="form-control">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button (click)="onAddService()" class="btn btn-success">Add</button>
                    <a style="margin-left: 10px;" routerLink="/hotel/service-edit" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>