<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TakeRestEatBest</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="/customer-list" class="nav-link">CustomerList</a></li>
      <li class="nav-item"><a routerLink="/hotel-booking" class="nav-link">HotelBookings</a></li>
      <li class="nav-item"><a routerLink="/hotel-list" class="nav-link">HotelList</a></li>
      <li class="nav-item"><a routerLink="/restaurant-booking" class="nav-link">RestaurantBooking</a></li>
      <li class="nav-item"><a routerLink="/restaurant-list" class="nav-link">RestaurantList</a></li>
      <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>