<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>{{tablecheck==1 ? 'Update' : 'Add'}} Table</h2>
            </div>
            <div class="card-body">
                <div class="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Total Number Of Tables</label>
                                <input [(ngModel)]="TotalNoOfTables" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <button (click)="onUpdate()" class="btn btn-success">Update</button>
                            <a routerLink="/restaurant/view-table" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>