<div class="card">
    <div class="card-header">
        <button (click)="changePassword()" class="btn btn-sm btn-secondary float-right">Change
            password</button>
        <button routerLink="/hotel/upload-image" class="btn btn-sm btn-secondary float-right">Change
            Image</button>
        <h2>Edit Profile</h2>
    </div>
    <div class="card-body">
        <div class="box">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input [(ngModel)]="hotelName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">AdminName</label>
                        <input [(ngModel)]="hotelAdminName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Contact</label>
                        <input [(ngModel)]="hotelMobileNo" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="hotelEmail" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address area</label>
                        <input [(ngModel)]="hotelAddressArea" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Address Street</label>
                        <input [(ngModel)]="hotelAddressStreet" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Address Landmark</label>
                        <input [(ngModel)]="hotelAddressLandmark" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">cityPin</label>
                        <input [(ngModel)]="hotelcityPin" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input [(ngModel)]="hotelDescription" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">No of Rooms</label>
                        <input [(ngModel)]="hotelNoOfRooms" type="number" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onUpdate()" class="btn btn-success">Update</button>
        <a routerLink="/hotel/profile" class="btn btn-danger">Cancel</a>
    </div>
</div>