<div class="container-fluid background">


    <!-- <img class="rest-pic" src="http://35.153.50.100:3000/customer/restaurant/image/{{picDetails[0]['restPic']}}" alt="">   -->
    <div class="row">

        <div class="col-md-4">
            <div class="card card-hotel-details">
                <div class="card-header">
                    <h2 class="header1">{{Details[0].hotelName}}</h2>
                </div>
                <div class="card-body">
                    <table class="table table-borderd ">
                        <thead>
                            <tr>
                                <th class="header" style="width:300px"><strong>Name</strong></th>
                                <th style="width:300px">{{Details[0]['hotelName']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Description</strong></th>
                                <th style="width:300px">{{Details[0]['hotelDescription']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Email</strong></th>
                                <th style="width:300px">{{Details[0]['hotelEmail']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Contact</strong></th>
                                <th style="width:300px">{{Details[0]['hotelMobileNo']}}</th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Address</strong></th>
                                <th style="width:300px">
                                    {{Details[0]['hotelAddressArea']}}, {{Details[0]['hotelAddressStreet']}}, {{Details[0]['hotelAddressLandmark']}}
                                </th>
                            </tr>
                            <tr>
                                <th class="header" style="width:300px"><strong>Pin Code</strong></th>
                                <th style="width:300px">{{Details[0]['cityPin']}}</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="card-footer">
                    <button (click)="BookTable()" class="btn btn-success">Book Now</button>
                    <button (click)="showmenu()" style="margin-left: 10px;" class="btn btn-info">Show room
                        details</button>
                    <button (click)="goBackToPreviousPage()" style="margin-left: 10px;" class="btn btn-warning">Go
                        back
                        to Dashboard</button>
                </div>
            </div>
        </div>

        <div *ngIf="action==1" class="col-md-4">
            <div *ngIf="action==1" class="card card-booking-details">
                <div class="card-header">
                    <h3>Booking Details</h3>
                </div>
                <div class="card-body card-style">
                    <div class="form">
                        <div class="form-group">
                            <label for="">Enter city pin</label>
                            <input [(ngModel)]="cityPin" type="number" class="form-control" value="" readonly>
                        </div>
                        <div class=" form-group">
                            <label for="">Enter No Of Rooms</label>
                            <input [(ngModel)]="NoOfRooms" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Enter check in date</label>
                            <input [min]="todayDate" [(ngModel)]="checkindate" type="date" (change)="loadOninit()" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Enter check out date</label>
                            <input [(ngModel)]="checkoutdate" type="date" class="form-control">
                        </div>

                        <div class="form-group" *ngIf="guestCounter==1">
                            <label for="">Guest List</label>
                            <div *ngFor="let guest of guestArray">
                                <input type="checkbox" name="guestName" id="" value="guest.custGuestId" (change)="toggleEditable($event,guest)"> {{guest['custGuestName']}}
                            </div>
                        </div>
                        <div class="form-group" *ngIf="guestCounter==0">
                            <button (click)="goToGuests()" class="btn btn-success">Add Guests</button>
                        </div>


                    </div>
                </div>
                <div class="card-footer">
                    <button (click)="addBooking()" class="btn btn-success">Add Bookings</button>
                </div>
            </div>
        </div>

        <div *ngIf="action==2" class="col-md-4">
            <div *ngIf="action==2" class="card card-room-details">
                <div class="card-header">
                    <h4>Room List</h4>
                </div>

                <div class="card-body card-style">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Room Category</th>
                                <th>Price</th>
                                <th>Accomodation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let room of RoomData; let index = index">
                                <td>{{index + 1}}</td>
                                <td>{{room['hotelRoomCategory']}}</td>
                                <td>{{room['hotelRoomPrice']}}</td>
                                <td>{{room['hotelRoomAccomodation']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <button class="btn btn-outline-light"></button>
                </div>
            </div>
        </div>

    </div>
</div>