 .background {
     /* Set rules to fill background */
     min-height: 100%;
     min-width: 1024px;
     background-image: url('../../../assets/UI_Images/pexels-artem-beliaikin-988508.jpg');
     width: 100%;
     height: auto;
     /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1;
     background-size: cover;
 }
 
 .image {
     height: 25vp;
     left: 0px;
     width: 100%;
     position: fixed;
     z-index: -1;
 }
 
 .card {
     position: absolute;
     top: 5rem;
     width: 35rem;
     opacity: 0.85;
     border: honeydew 0.4rem solid;
     border-radius: 1rem;
 }
 
 .card-hotel-details {
     left: 2rem;
 }
 
 .card-style {
     overflow: hidden;
     overflow-y: scroll;
     height: 20rem;
 }